.dashboard {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr  5fr;
}

.dashboard > div {
    border: 2px solid rgb(111, 88, 204);
} 

.header {
    grid-area: 1/2/2/3;
    border: 2px solid rgb(111, 88, 204);
}

.sidebar {
    grid-row:  1/3;
}

.mainArea {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 3fr;
    gap: 1rem;
    margin: 1rem;
    /* background-color: antiquewhite; */
}

.projectsTitle {
    grid-area: 1/1/2/2;
}

.projects {
    grid-row: 2/5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
}

.announcement {
    grid-area: 1/2/2/3
}

.rightSideContentTop {
    grid-area: 2/2/3/3;
}

.trending {
    grid-area: 3/2/4/3;
}

.rightSideContentBottom {
    grid-area: 4/2/5/3;
}
.projects > div {
    border: 2px dotted green;
}

.rightSideContent {
    grid-column: 2/3;
}

.title {
   display: flex;
   align-items: end;
}

h2 {
    margin : 0;
}


.mainArea > div {
    border: 2px solid orangered;
    /* margin: 1rem; */
}