@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,span,p {
    padding: 0;
    margin: 0;
}

.dashboard {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr  5fr;
}

.header {
    display: grid;
    grid-template: 1fr 1.3fr/4fr 1fr 1fr 1fr;
    height: 200px;
    padding-left: 2rem;
}
.searchBar {
    grid-area: 1/1/2/2;
    display: grid;
    align-content: center;
    /* justify-items: center; */
}
.alarmButton {
    grid-area: 1/2/2/3;
    display: grid;
    align-items: center;
    justify-items: end;
}
.smallLogoName {
    grid-area: 1/3/2/5;
    display: flex;
    align-items: center;
    padding-left: var(--small-logo-padding);
}
.smallLogoName > img {
    width: 2rem;
    aspect-ratio: 1/1;

}
.smallLogoName > p {
    padding-left: var(--small-logo-padding);
}
.bigLogoName {
    grid-area: 2/1/3/2;
    display: flex;
    width: 100%;
}
.bigLogoName > img {
    height: 6rem;

}
.bigLogoName > p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0 15px 15px;
    font-family: var(--sidebar-font);
}
.bigName {
    font-size: 2rem;
}
.threeButtons {
    grid-area: 2/2/3/5;
}
form {
    height: 100%;
/*     display: grid;
    align-items: center; */
}
input {
    margin: 0px;
    padding: 0px;
    width: 80%;
    height: 2rem;
    border-radius: 15px;
    background-color: var(--neutral-background);
    border: none;
}
form > label > img, .alarmButton > img {
    width: 20px;
}

.sidebar {
    grid-row:  1/3;
    background: var(--sidebar-background);
    display: grid;
    grid-auto-rows: max-content;
    padding: 0 1rem 0 1rem;
    row-gap: 3rem;
}
.sidebar > div {
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
    column-gap: 1rem;
    row-gap: 10px;
}
.sidebarIcon {
    justify-self: center;
}

.mainArea {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 5fr 1.5fr;
    grid-template-rows: 1fr 5fr 1fr 5fr;
    gap: 2rem;
    padding: 0 2rem 1rem 2rem;
    background: var(--neutral-background);

}

.projectsTitle {
    grid-area: 1/1/2/2;
}

.projects {
    grid-row: 2/5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    gap: 2rem;
}

.projects > div {
    /* border: 2px dotted green; */
    border-radius: var(--four-corner-radius);
    background: white;
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template: repeat(3, 1fr)/ 1rem 1fr; 
    column-gap: 15px;

}
.projects > div:hover {
    scale: 103%;
}

.projects > div > div ~ *{
    display:flex;
}

h3, .icons {
    align-self: flex-end;
}

.icons {
    justify-self: end;
    margin:0 10% 10% 0;
}

.icons > span {
    padding-right: 15px;
}



.announcement {
    grid-area: 1/2/2/3
}

.rightSideContentTop {
    grid-area: 2/2/3/3;
}

.rightSideContentTop > :nth-child(2),
 .rightSideContentTop > :nth-child(3) {
    border-top: 1px solid rgba(128, 128, 128, 0.613);
    padding-top: 10px;
 }  

.trending {
    grid-area: 3/2/4/3;
}

.rightSideContentBottom {
    grid-area: 4/2/5/3;
}

.rightSideContentTop, .rightSideContentBottom {
    background: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--four-corner-radius);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 1rem;
    justify-content: center;
}


.rightSideContent {
    grid-column: 2/3;
}

.title {
   display: flex;
   align-items: end;
}


:root {
    --neutral-background: rgba(150, 161, 185, 0.205);
    --sidebar-background: /* rgb(46, 142, 206) */ #0284c7;
    --projects-color-line: rgb(221, 143, 59);
    --line-radius: 15px 0 0 15px;
    --box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.2);
    --four-corner-radius: 15px;
    --sidebar-title: white;
    --sidebar-font: 'Righteous';
    --small-logo-padding: 10%;
    /* --header-buttons-color: rgb(46, 107, 206); */
    
}

.line {
    grid-area: 1/1/4/2;
    background: var(--projects-color-line);
    border-radius: var(--line-radius);
}

.navigation {
    grid-template-rows: repeat(6, 2rem);
}

.options {
    grid-template-rows: 2rem 2rem 2rem;
}
.sidebarIcon{
    grid-column: 1/2;
}
.dashboardLogo {
    grid-row: 1/2;   
}
.navigation {
    grid-row: 2/3;
}
.dashboardIcon > img {
    width: 3rem;
}

.navigation > .sidebarIcon > img,
.options > .sidebarIcon > img {
    width: 1.5rem;
}
.dashboardLogo {
    font-family: var(--sidebar-font);
    color: var(--sidebar-title);
    font-size: 1.5rem;
}
.navigation .sidebarTitle,
.options .sidebarTitle {
    color: var(--sidebar-title);
    font-family: var(--sidebar-font);
    font-size: 1.2rem;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}

.imgColor {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(31deg) brightness(104%) contrast(102%);
}


/* @media screen and (max-width: 1000px){
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));        
    }

}*/

@media screen and (max-width: 500px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        min-width: 50px;
        flex:  0;
    }
    .navigation .sidebarTitle,
    .options .sidebarTitle, .sidebarTitle  {
    color: transparent;
    }
/*     .projects {
    grid-template-columns: 150px;
    } */

    .mainArea {
        display: flex;
        flex-flow: column;
    }
    .projects {
        display: flex;
        flex-flow: column;
    }
    .smallScreen {
        display: none;
        visibility: hidden;
    }
} 